<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="cntLogin">
        <div class="itemLogin1"></div>
        <div class="itemLogin2">
            <div class="login1">
                <h1>RestauranTech</h1>
                <h2>Log In</h2>
                <form action="" method="POST">
                    <div>{{ form.email }}</div>
                    <div>{{ form.password }}</div>
                    <div>
                        {{ form.submit }}
                    </div>
                    <div>
                        <a href="{{ url_for('register') }}" class="btn btn-primary" role="button">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>